* {
    font-family: 'Oswald', sans-serif;
}


/********** Medium devices only **********/


/*@media (min-width: 992px) and (max-width: 1199px) {}
/********** Small devices only **********/


/*@media (min-width: 768px) and (max-width: 991px) {}
/********** Extra small devices only **********/


/*@media (max-width: 767px) {}

/* 1slajd */

#slide {
    height: auto;
    width: auto;
    background: url('../img/star.jpg') no-repeat;
    padding-top: 25px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.text-left {
    margin-left: 50px;
}

h1 {
    font-size: 44px;
    margin-top: 75px;
    line-height: 175%;
}

h2 {
    font-size: 32px;
    line-height: 175%;
}

.space1 {
    margin-top: 225px;
    margin-left: 50px;
}

a {
    font-weight: bold;
    color: orange;
}

#app {
    margin-left: 75px;
    width: 200px;
    height: 100px;
}

#google {
    width: 200px;
    height: 85px;
}

a:hover {
    text-decoration: none;
    color: orange;
}

a:link {
    text-decoration: none;
    color: orange;
}

a:visited {
    text-decoration: none;
    color: orange;
}

.spacebetwen {
    margin-top: 250px;
}

.spaceafter {
    margin-bottom: 250px;
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    #app {
        width: 150px;
        height: 75px;
    }
    #google {
        width: 150px;
        height: 75px;
    }
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .colwithoutpadding {
        padding-left: 0px;
        padding-right: 0px;
    }
    #app {
        margin-left: 10%;
        width: 40%;
        height: auto;
        padding-bottom: 15px;
    }
    #google {
        width: 40%;
        height: auto;
        margin-right: 9%;
        padding-bottom: 15px;
    }
    h1 {
        font-size: 35px;
        margin-top: 50px;
        line-height: 150%;
    }
    h2 {
        font-size: 30px;
        line-height: 125%;
    }
    .slide1 {
        text-align: center;
        margin-left: 0px;
    }
    .largedevice {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .space1 {
        text-align: center;
        margin-top: 150px;
        margin-left: 0px;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    .colwithoutpadding {
        padding-left: 0px;
        padding-right: 0px;
    }
    #app {
        margin-left: 10%;
        width: 40%;
        height: auto;
        padding-bottom: 15px;
    }
    #google {
        width: 40%;
        height: auto;
        margin-right: 9%;
        padding-bottom: 15px;
    }
    h1 {
        font-size: 29px;
        margin-top: 25px;
        line-height: 125%;
    }
    h2 {
        font-size: 21px;
        line-height: 100%;
    }
    .slide1 {
        text-align: center;
        margin-left: 0px;
    }
    .largedevice {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .space1 {
        text-align: center;
        margin-top: 100px;
        margin-left: 0px;
    }
}


/* 2 slajd */

#features {
    font-size: 70px;
}

#underline {
    margin: auto;
}

.h2page2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    margin-bottom: 100px;
}

.margin {
    margin-top: 15px;
}

#rightcol {
    margin-top: 250px;
    margin-bottom: 100px;
}

.greyborder {
    border-right: 2.5px solid black;
}

.big {
    font-size: 2em;
}

.small {
    font-size: 1.25em;
}

.special {
    color: orange;
    cursor: pointer;
}

.center {
    width: 30%;
    margin-top: 25px;
    background-color: black;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10%;
}

#rightcol:hover + .center {
    background: url('../img/Ferdynand.jpg') no-repeat;
    background-position: center;
    background-color: black;
    animation-name: hover;
    animation-duration: 1.5s;
}

@keyframes hover {
    from {
        background: black;
    }
    to {
        background: url('../img/Ferdynand.jpg') no-repeat;
        background-position: center;
        background-color: black;
    }
}

#rightcol:active + .center {
    background: url('../img/Ferdynand2.jpg') no-repeat;
    background-position: center;
    background-color: black;
    animation-name: active;
    animation-duration: 3s;
}

@keyframes active {
    from {
        background: url('../img/Ferdynand.jpg') no-repeat;
        background-position: center;
        background-color: black;
    }
    to {
        background: url('../img/Ferdynand2.jpg') no-repeat;
        background-position: center;
        background-color: black;
    }
}

.undertext {
    visibility: hidden;
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    #underline {
        max-width: 70%;
    }
    #features {
        font-size: 45px;
    }
    .spacebetwen {
        margin-top: 100px;
    }
    #rightcol {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .h2page2 {
        margin-bottom: 50px;
    }
    .center {
        width: 40%;
        margin-left: 30%;
        margin-top: 50px;
    }
    .spaceafter {
        margin-bottom: 120px;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    #underline {
        max-width: 70%;
        min-width: 70%;
    }
    #features {
        font-size: 35px;
    }
    .spacebetwen {
        margin-top: 100px;
    }
    .h2page2 {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    #rightcol {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .big {
        font-size: 29px;
    }
    .center {
        width: 40%;
        margin-left: 30%;
        margin-top: 50px;
    }
    #rightcol:hover + .center {
        background: url('../img/Ferdynand.jpg') no-repeat;
        background-size: 150px;
        background-position: center;
        background-color: black;
        animation-name: hover;
        animation-duration: 1.5s;
    }
    @keyframes hover {
        from {
            background: black;
        }
        to {
            background: url('../img/Ferdynand.jpg') no-repeat;
            background-size: 150px;
            background-position: center;
            background-color: black;
        }
    }
    #rightcol:active + .center {
        background: url('../img/Ferdynand2.jpg') no-repeat;
        background-size: 150px;
        background-position: center;
        background-color: black;
        animation-name: active;
        animation-duration: 3s;
    }
    @keyframes active {
        from {
            background: url('../img/Ferdynand.jpg') no-repeat;
            background-size: 150px;
            background-position: center;
            background-color: black;
        }
        to {
            background: url('../img/Ferdynand2.jpg') no-repeat;
            background-size: 150px;
            background-position: center;
            background-color: black;
        }
    }
    .spaceafter {
        margin-bottom: 50px;
    }
}


/* 3slajd */

.star2 {
    margin-top: 150px;
    height: auto;
    width: 100%;
    background: url('../img/star2.jpg') no-repeat;
    padding-bottom: 10%;
}

.icon {
    height: 25%;
    width: 25%;
    float: right;
}

.bettermargin {
    margin-top: 40%;
}

.text-clear {
    clear: both;
}

.hrundertext {
    width: 50%;
    float: right;
}

.icon2 {
    height: 25%;
    width: 25%;
    float: left;
}

.hrundertext2 {
    width: 50%;
    float: left;
}

#phone1 {
    position: absolute;
    left: 27%;
    width: 45vw;
    height: 45vw;
    margin-top: 50px;
}

.hiddenicons {
    visibility: hidden;
}

.righticons {
    position: absolute;
    left: 65%;
}

#phone12:hover + .hiddenicons {
    visibility: visible;
    animation-name: hovericon;
    animation-duration: 3s;
}

@keyframes hovericon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#icon1 {
    margin-bottom: 10px;
}

#icon2 {
    margin-bottom: 10px;
}

#icon3 {
    margin-bottom: 10px;
}

#icon4 {
    margin-bottom: 10px;
}


/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    /********** Extra small devices only **********/
    #phone1 {
        width: 400px;
        height: auto;
        left: 22.5%;
        margin-top: 0px;
    }
    .text-clear {
        font-size: 1em;
    }
    hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .text-clear {
        font-size: 0.85em;
    }
    #phone1 {
        visibility: hidden;
    }
    .hiddenicons {
        visibility: visible;
    }
    #iconcolumn1 {
        text-align: center;
        padding-bottom: 25%;
    }
    #iconcolumn2 {
        text-align: center;
    }
    .icon {
        float: initial;
        width: 40%;
    }
    .icon2 {
        float: initial;
        width: 40%;
    }
    .hrundertext {
        width: 75%;
        float: none;
    }
    .hrundertext2 {
        width: 75%;
        float: none;
    }
    .righticons {
        position: initial;
    }
}


/* 4 slajd */

.offer {
    border-radius: 2%;
    width: 31.6%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 2.5em;
}

.offer2 {
    border-radius: 2%;
    width: 31.6%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 2.5em;
}

.marginright {
    margin-right: 2.5%;
}

.greybackground {
    background-color: #333;
}

.circle {
    border-radius: 50%;
    height: auto;
    width: 40%;
    position: relative;
    left: 30%;
    font-size: .8em;
}

.blackbackground {
    background-color: #040F25;
}

.redbackground {
    background-color: red;
}

.marginoffer {
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}


/********** Medium devices only **********/

@media (max-width: 767px) {
    .offer {
        width: 46.25%;
        margin-left: 2.5%;
        margin-bottom: 5%;
        font-size: 1.75em;
    }
    #offer2 {
        width: 46.25%;
        margin-right: 2.5%;
        font-size: 1.75em;
    }
    .marginright {
        margin-right: 0px;
    }
    .offer2 {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .123i {}
}


/* 5 slajd */

.star3 {
    margin-top: 150px;
    height: auto;
    width: 100%;
    background: url('../img/starry.jpg') repeat;
    padding-bottom: 10%;
}

.hero {
    width: 100%;
    height: 350px;
    border: 5px solid #040F25;
    border-bottom: none;
}

.marginright2 {
    margin-right: 1.5%;
}

.signature {
    padding: 15px;
    text-align: center;
    background-color: #3B3B53;
    opacity: .8;
}

.bordersignature {
    border: 5px solid #040F25;
    border-top: none;
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    .bordersignature {
        margin-bottom: 10%;
    }
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .bordersignature {
        margin-bottom: 10%;
        width: 50%;
        margin-left: 25%;
    }
    .hero {
        width: 50%;
        margin-left: 25%;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    .signature {
        font-size: 1.5em;
    }
    .bordersignature {
        margin-bottom: 10%;
        width: 75%;
        margin-left: 12.5%;
        height: auto;
    }
    .hero {
        width: 75%;
        height: auto;
        margin-left: 12.5%;
    }
}


/* 6 slajd */

.contact {
    height: auto;
    width: 100%;
    padding-bottom: 10%;
    background: url('../img/contact.png') repeat;
    margin-bottom: 0px;
}

.whitebackground {
    background: white;
    width: 40%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-left: 2.5%;
}

.red {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

label {
    font-size: 1.2em;
}

.button {
    font-size: 2em;
    background-color: orange;
    margin-top: 5%;
    margin-bottom: 7.5%;
    font-weight: bold;
}

.message {
    font-size: 1.6em;
}

.input {
    width: 90%;
    height: 40px;
}

.input-message {
    width: 90%;
    height: 150px;
}

.glyphicon {
    font-size: 3.5em;
    color: black;
}

.glyphicon-1 {
    margin-top: 12.5%;
    margin-left: 50%;
    margin-bottom: 2.5%;
}

.glyphicon-2 {
    margin-top: 12.5%;
    margin-left: 50%;
    margin-bottom: 2.5%;
}

.glyphicon-3 {
    margin-top: 12.5%;
    margin-left: 50%;
    margin-bottom: 2.5%;
}

.glyphicon-text {
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-left: 35%;
}

.glyphicon-text-2 {
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-left: 30%;
}

.glyphicon-text-3 {
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-left: 42%;
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .whitebackground {
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }
    .glyphicon-text {
        font-size: 24px;
        margin-left: 40%;
    }
    .glyphicon-text-2 {
        font-size: 24px;
        margin-left: 35%;
    }
    .glyphicon-text-3 {
        font-size: 24px;
        margin-left: 45%;
    }
}


/********** Extra small devices only **********/

@media (min-width: 376px) and (max-width: 767px) {
    .whitebackground {
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }
    .glyphicon-text {
        font-size: 16px;
        margin-left: 37%;
    }
    .glyphicon-text-2 {
        font-size: 16px;
        margin-left: 32%;
    }
    .glyphicon-text-3 {
        font-size: 16px;
        margin-left: 45%;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .whitebackground {
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }
    .glyphicon-text {
        font-size: 16px;
        margin-left: 29%;
    }
    .glyphicon-text-2 {
        font-size: 16px;
        margin-left: 25%;
    }
    .glyphicon-text-3 {
        font-size: 16px;
        margin-left: 35%;
    }
    .glyphicon-1 {
        margin-top: 12.5%;
        margin-left: 40%;
        margin-bottom: 2.5%;
    }
    .glyphicon-2 {
        margin-top: 12.5%;
        margin-left: 40%;
        margin-bottom: 2.5%;
    }
    .glyphicon-3 {
        margin-top: 12.5%;
        margin-left: 40%;
        margin-bottom: 2.5%;
    }
}

@media (max-width: 320px) {
    .whitebackground {
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }
    .glyphicon-text {
        font-size: 16px;
        margin-left: 27%;
    }
    .glyphicon-text-2 {
        font-size: 16px;
        margin-left: 22%;
    }
    .glyphicon-text-3 {
        font-size: 16px;
        margin-left: 35%;
    }
    .glyphicon-1 {
        margin-top: 12.5%;
        margin-left: 40%;
        margin-bottom: 2.5%;
    }
    .glyphicon-2 {
        margin-top: 12.5%;
        margin-left: 40%;
        margin-bottom: 2.5%;
    }
    .glyphicon-3 {
        margin-top: 12.5%;
        margin-left: 40%;
        margin-bottom: 2.5%;
    }
}
